* {
    box-sizing: border-box;
}

/* element */

body {
    background-color: #fcebb6;
    background-image: url(/javajam/background.gif);
    color: #221811;
    font-family: Verdana, Arial, Arial, Helvetica, sans-serif;
}

header {
    background-color: #d2b48c;
    background-image: url(/javajam/javajamlogo.jpg);
    background-repeat: no-repeat;
    height: 150px;
}

main {
    padding-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-left: 200px;
    background-color: #fef6c2;
}

main h2,
main h3,
main h4,
main p,
main div,
main ul,
main dl {
    padding-left: 3em;
    padding-right: 2em;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid black;
    clear: left;
    line-height: 200%;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    float: left;
    width: 200px;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #fef6c2;
}

nav a:visited {
    color: #d2b48c;
}

nav a:hover {
    color: #cc9933;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}

td,
th {
    padding: 10px;
}

tr:nth-of-type(odd) {
    background-color: #d2b48e;
}

footer {
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid #221811;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

header,
nav,
main,
footer {
    display: block;
}

/* id */
#wrapper {
    background-color: #231814;
    box-shadow: 2px 2px gray;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
}

#heroroad {
    background-image: url(../javajam/heroroad.jpg);
    background-size: 100%;
    height: 250px;
}

#heromugs {
    background-image: url(../javajam/heromugs.jpg);
    height: 250px;
}

#heroguitar {
    background-image: url(../javajam/heroguitar.jpg);
    background-size: 100%;
    height: 250px;
}

#herojobs{
    background-image: url("../Lab7/img/herojobs.jpg");
    height: 250px;
    background-size: 100% 100%;
}

/* class */
.details {
    padding-right: 20%;
    padding-left: 20%;
    overflow: auto;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;}

form{
    padding: 2em;
}

label{
    float: left;
    display: block;
    text-align: right;
    width: 8em;
    padding-right: 1em;
}

input,textarea{
    display: block;
    margin-bottom: 1em;
}

#mySubmit{
    margin-left: 9.5em;
}

@media screen and (max-device-width: 640px){
    #herojobs{
        display: none;
    }
}




